*~
*.elc
/url
/bookmarks
/.org-id-locations
/ercpass.el
/emacs-w3m
/emacs-jabber
/auto-save-list
/custom/
/sc-emacs/
/server/
/nxhtml/etc/schema/xhtml-loader.rnc
/elpa/
/url/cookies
/recentf
/ido.last
/.#ido.last
/eshell
/var/
/transient/
/network-security.data
