[submodule "magit"]
	path = magit
	url = git://github.com/magit/magit.git
[submodule "rinari"]
	path = rinari
	url = git://github.com/eschulte/rinari.git
[submodule "git-emacs"]
	path = git-emacs
	url = git://github.com/tsgates/git-emacs.git
[submodule "org-mode"]
	path = org-mode
	url = git://orgmode.org/org-mode.git
